<div class="tech-btm">
    <h4>Mail Bültenine Abone Ol</h4>
    <p>Yeni yazılardan anında haberin olsun</p>
    <form action="#" method="post">
        <input type="email" placeholder="Mail adresi" required="">
        <input type="submit" value="Abone Ol">
    </form>
</div>