
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Burası kendi oluşturduğumuz view sayfasıdır</h3>
<hr />
<table>
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Yaş</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Ahmet</td>
        <td>Demir</td>
        <td>25</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Mehmet</td>
        <td>Çelik</td>
        <td>28</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Nuri</td>
        <td>Çelik</td>
        <td>36</td>
    </tr>
</table>