@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Bicycle Error Page Responsive Widget Template :: W3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Bicycle Error Page Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="stylesheet" href="~/weberror/css/style.css" type="text/css" media="all" />
    <link href="~/weberror/css/font-awesome.css" rel="stylesheet">
</head>

<body>
    <section class="w3l-error-61-404">
        <div class="error-61-mian">
            <div class="wrapper">
                <div class="errors-16-top">
                    <div class="errors-16-info">
                        <h3>404</h3>
                        <p>Sayfa bulunamadı.</p>
                        <br />
                    </div>
                </div>
                <div class="errors-16-info">
                    <p>Aradığınız sayfa taşınmış, linki değiştirilmiş veya silinmiş olabilir. <br /> Ya da adres çubuğuna yanlış yazılmış olabilir.</p>
                </div>
                <br />
                    <a href="/Blog/Index" style="width:auto; height:auto; padding:12px; text-align:center; color:black; text-decoration:none; background-color:white; display:inline-block; border:2px solid white; border-radius:6px">Bloglara Git</a>                
            </div>
        </div>
    </section>
</body>
</html>